* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 1px;
    --color-base-white: #ffffff;
    --color-base-gray-100: #f5f5f5;
    --color-base-gray-300: #8d8d99;
    --color-base-gray-500: #3D3D3D;
    --color-base-gray-900: #202024;
    font-family: 'Mulish', sans-serif;
}

body {
    font-size: 16rem;
    background-color: var(--color-base-white);
    color: var(--color-base-gray-900);
}

#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

.container {
    padding: 16rem 32rem;
    width: min(1120rem, 100%);
    margin: 0 auto;
}

main {
    overflow-y: scroll;
    background-color: var(--color-base-gray-100);
}

.logo {
    /* filter: blur(10px); */
}

header, nav, nav ul {
    display: flex;
    align-items: center;
    gap: 72rem;
    font-weight: 700;
}

header form {
    flex: 1;
}

nav ul {
    list-style: none;
    font-size: 18rem;
    color: var(--color-base-gray-300);
}

ul li.active {
    color: var(--color-base-gray-900);
  
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input {
    width: 100%;
    padding: 16rem;
    background-color: var(--color-base-gray-100);
    border: 0;
    border-radius: 6rem;
    font-size: 16rem;
    opacity: 0.56;
    font-weight: 600;
}

.input-wrapper input::placeholder {
    font-family: 'Mulish', sans-serif;
    color: var(--color-base-gray-500);
}

.avatar {
    width: 42rem;
    height: 42rem;
    object-fit: cover;
    border-radius: 50%;
}

/* galeria */
main h1 {
    padding-top: 16rem;
    font-size: 24rem;
}

.gallery {
    margin-top: 32rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22rem;
}

.item {
    background-color: var(--color-base-white);
    border-radius: 8rem;
    overflow: hidden;
}

.item img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition-property: transform, filter;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.item img:hover {
    filter: hue-rotate(60deg) contrast(101%) saturate(200%);
    transform: scale(1.1) rotate(-2deg);
}

.details {
    padding: 22rem;
    background-color: var(--color-base-white);
    z-index: 1;
    position: relative;
}

.details h2 {
    font-size: 18rem;
}

.tags {
    margin-top: 12rem;
}

.tags span {
    padding: 6rem;
    background-color: var(--color-base-gray-100);
    border-radius: 4rem;
    line-height: 0;
    font-size: 12rem;
    text-transform: uppercase;
}

footer p {
    text-align: center;
    padding: 16rem;
    font-weight: 600;
}

header {
    --startY: -100%;
    animation: move .2s;
}

footer {
    --startY: 100%;
    animation: move .2s;
}

@keyframes move {
    from {
        transform: translateY(var(--startY));
    }
}

.item {
    --delay: .2s;
    animation: appear .4s var(--delay) backwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.2);
    }
}